
<i class="fa fa-spin fa-spinner"></i>

<div scroller="" loading-method="loadMore()" class="listContain container">
	<h3>My name is <input type="text" ng-model="player"> and I want to play ping pong with...</h3>
	<a class="btn btn-primary" ng-click="randomGame()">Random Game</a>
	<ul>
		    <li class="row col-xs-12 clearfix animate-repeat" ng-repeat="member in users.members">
		    	<h4 class="col-md-6">({{member.real_name}}) {{member.name}}</h4> <a class="pull-right btn col-md-4 pull-right btn-primary" ng-click="send(member.name,member.profile.email)">Invite</a>
		    </li>
	</ul>

</div> 

	
