li {
  list-style:none;
  margin-bottom:10px;
}

ul {
  margin-top:30px;
}

ul li:nth-child(even) {
  background-color:#eef4f4;
}

.fa-spinner {
  font-size:100px;
  position:absolute;
  top:20%;
  left:40%;
}