@import "mixins.less";

body {
	font-family: 'Roboto', sans-serif;
}

img {
	width:100%;
}

a:hover {
	text-decoration:none;
	cursor:pointer;
}

.modal-body {
	.clearfix();
}

.sendMessage {
	input, button, textarea {
		margin-bottom:20px;
	}
}



h1,h2,h3,h4,h5,button {
	font-family: 'Oswald', sans-serif;
	font-weight:300;
}

.messages {
	.message {
		margin-bottom:20px;
	}
	a {
		color:#3A4A59;
	}
	a:hover {
		text-decoration:underline;
	}
}

.singleMessage {
	h2 {
		margin:0;
		padding:0;
	}
}

.item {
	margin-bottom:20px;
	.contain {
		padding:13px;
		background-color:darken(#fff,2);
		.clearfix();
		.box-shadow(0px 0px 5px rgba(0,0,0,.1));
		.border-radius(10px);
	}

	.content {
		font-size:13px;
	}

	.info {
		padding:0;
	}

	.commentsTotal {
		padding:0;
		text-align:right
	}

	img {
		margin-bottom:10px;
	}

	p {
		float:left;
		clear:left;
	}

	.pull-right {
		clear:both;
	}

	h3 {
		a {
			color:#3A4A59;
		}
	}

	.price {
		color:#000;
		font-weight:400;
		background-color:#DEF9DA;
		font-family: 'Oswald', sans-serif;
		.border-radius(5px);
		padding:5px 8px;
		display:inline-block;
		margin-top:10px;
		font-size:13px;
		margin-bottom:10px;
		.clearfix();
		float:left;
		clear:both;
	}

	.tradeprice {
		background-color:#ECC2D6;
	}
}


.row{
	margin:0;
	padding:0;
}


header {
	height:65px;
	.box-shadow(0 0px 10px rgba(0,0,0,.6));
	.row {
		padding:0;
		margin:0;
		height:65px;
	}

	.postIcon {
			border-right:0px;
	}

	.searchContain {
		position:relative;
		float:right;
		.search {
			display:none;
			background-color:#3A4A59;
			padding:10px 20px;
			position:absolute;
			bottom:-80px;
			z-index:9999;
			right:0;

			button {
				margin-top:15px;
			}
		}
	}
	

	a img{
		padding:0;
		margin:0;
	}

	.avatar {
		.clearfix();
		padding:0 !important;
		margin:0 !important;
		border:0px !important;
	}

	.avatar:hover {
		background:transparent !important;
	}

	width:100%;
	padding:0px 10px;
	background-color:#3A4A59;
	color:#fff;
	margin-bottom:20px;
	a {
		border-left:2px solid lighten(#3A4A59,5);
		border-right:2px solid lighten(#3A4A59,5);
		padding:20px 10px;
		color:#fff;
		height:65px;
		float:right;
		font-size:16px;
		font-family: 'Oswald', sans-serif;
		font-weight: 300;

		i {
			margin-right:5px;
			font-size:100%;
		}
	}

	a:last-child {
		border-right:0;
	}



	a:hover {
		text-decoration:none;
		background-color:lighten(#3A4A59,5);
		color:#fff;
	}

	.userInfo {
		.clearfix();
		height:65px;

		img,a {
			float:right;
		}

		img {
			margin-left:20px;
			margin-top:9px;
			max-height:50px;
			max-width:70px;
			width:auto;
		}
	}
}

h3 {
	padding:0;
	margin:0;
}

.logo {
	a {
		background-color:transparent;
		padding:0;
		padding-left:10px;
		border:0px;
		margin-top:10px;
		margin-bottom:10px;
		float:left;
	}

	a:hover {
		background-color:transparent;
	}
}

.logo img {
	max-width:40px;
}

.logo:hover {
	background-color:transparent;
	border:0px;
}

#post-form {
	margin:0px auto;
	.typePost {
		background-color:#428bca;
		.border-radius(10px);
		padding:10px 0px;
		.box-shadow(0px);
		color:white;
	}

	.tradeit, .sellit {
		margin-top:15px;
		background-color:darken(#fff,2);
		border:2px solid darken(#fff,4);
		border:none;
		color:#000;
		margin-bottom:20px;

		&.active {
			.box-shadow(inset 0 0px 8px rgba(0,0,0,.2));
		}
	}

	.typeGroup {
		margin-top:15px;
		margin-bottom:15px;
		.clearfix();
	}
	input,textarea {
		margin-bottom:20px;
	}
}


.signup {
	padding:0px 20px;
	input,textarea {
		margin-bottom:20px;
		float:left;
		clear:left;
	}

	img {
		max-width:150px;
	}

	button {
		float:left;
		clear:left;
	}
}

.post {
	padding:0px 20px;
	margin-top:45px;

	button {
		margin-top:10px;
	}

	.poster {
		padding:0;
		img {
			max-width:50px;
			float:right;
		}
	}

	.content {
		margin-bottom:30px;
	}

	.col-md-6 {
		.clearfix();
	}

	img {
		margin-bottom:15px;
	}

	.row {
		padding:0;
	}

	.info {
		padding:0;
	}

	.commentsTotal {
		padding:0;
		text-align:right;
	}

	.priceContainer {
		padding:0
	}

	h2 {
		margin:0;
		padding:0;
		margin-bottom:15px;
	}

	.price {
		color:#000;
		font-weight:400;
		background-color:#DEF9DA;
		font-family: 'Oswald', sans-serif;
		.border-radius(10px);
		padding:5px 12px;
		display:inline-block;
		font-size:15px;
		margin-bottom:15px;
	}

	.tradeprice {
		background-color:#ECC2D6;
	}

	h3 {
		margin-bottom:20px;
	}
	form {
		margin-bottom:20px;
	}

	img {
		max-width:250px;
	}

	ul {
		margin:0;
		padding:0;
	}

	li {
		list-style:none;
	}
}

.comment {
	width:100%;
	float:left;
	margin-bottom:30px;
	background-color:darken(#fff,2);
	padding:15px 20px;
	.border-radius(20px);
}

.commentSection {

	textarea {
		margin-bottom:20px;
	}

	.offer {
		max-width:10em;
		width:10em;
		margin-bottom:20px;
	}

}


input, textarea {
	max-width:600px;
}

	.allComments {
		margin-top:60px;
		.clearfix();
		float:left;

		.offerPrice {
			color:#000;
			font-weight:400;
			background-color:#ECC2D6;
			font-family: 'Oswald', sans-serif;
			.border-radius(5px);
			padding:5px 8px;
			display:inline-block;
			margin-top:10px;
			font-size:13px;
			margin-bottom:10px;
			.clearfix();
			float:left;
			clear:both;
		}

		.acceptOffer {
			color:#000;
			font-weight:400;
			background-color:#DEF9DA;
			font-family: 'Oswald', sans-serif;
			.border-radius(5px);
			padding:5px 8px;
			display:inline-block;
			margin-top:10px;
			font-size:13px;
			margin-bottom:10px;
			.clearfix();
			float:left;
			margin-left:20px;
		}

		.acceptOffer:hover {
			background-color:darken(#DEF9DA,20);
			text-decoration:none;
		}
	}

.fileUpload {
	float:left;
	clear:left;
}

.imageTitle {
	margin-bottom:20px;
}

.community {
	margin-top:20px;
	text-align:center;
}

.mobileMenu {
	margin-right:-25px;
	border-left:0;
	padding-left:15px;
	margin-left:5px;
}

.mobileNav {
	display:none;
    background-color: #445768;
    color: #000;
    position: absolute;
    right: -10px;
    top: 64px;
    z-index: 200;
    padding:0;
    margin:0;
    width:200px;
    .border-radius(0px 0px 10px 10px);

    li {
    	float:left;
    	width:100%;
    	list-style:none !important;

    	a {
    		float:left;
    		width:100%;
    		display:block;
    		border:none;
    		height:auto;
    		padding:15px 20px;
    		.border-radius(0px 0px 10px 10px);
    	}
    }
}

.bx-wrapper .bx-viewport {
	.box-shadow(0px);
	.box-shadow(0px 0px 0px 0px);
}

.content {
	margin-bottom:15px;
}

#bx-pager a {
	.box-shadow();
	padding:10px;
}

.profile {
	padding:0px 10px;

	.editProfile {
		margin-bottom:10px;
		width:100%;
		display:block;
	}

	img {
		.border-radius(15px);
		.box-shadow();
		max-width:200px;
		margin:0px auto;
		display:block;
	}

	.profileButton {
		padding:10px 25px;
		background-color:lighten(#DEF9DA,4);
		.border-radius(10px);
		color:#000;
		margin:0px auto;
		margin-top:20px;
		display:block;
		width:80%;
	}

	.info {
		text-align:center;
	}

	.comments {
		float:left;
		.comment {
			float:left;
			width:100%;
			margin-bottom:10px;
		}
	}

	.stats {
		clear:none !important;
		padding-right:10px;
		padding-left:10px;
		width:120px;
		float:left;
		background-color:#fff;
		.border-radius(15px);
		margin-right:20px;
		padding-top:5px;
		padding-bottom:5px;
		span,p {
			float:left;
			clear:left;
			display:inline;
			text-align:center;
			width:100%;
		}

		p {
			font-family: 'Oswald', sans-serif;
			font-weight:400;
			font-size:30px;
			padding:0;
			margin:0;
		}

		span {
			font-weight:400;
		}
	}

	.totalStats .stats:last-child {
	}


	.additionalInfo {
		float:left;

		h2 {
			margin-top:10px;
		}
	}

	.totalStats {
		margin-top:20px;
		width:100%;
		background-color:darken(#fff,2);
		.clearfix();
		display:inline-block;
		padding:12px 20px;
	}

	.stats:last-child {
		clear:both;
	}
}

.edit {
	padding:0px 20px;
	margin-bottom:30px;
	float:left;
	width:100%;
	label {
		float:left;
		clear:left;
	}

	img {
		max-width:100px;
		float:left;
		clear:left;
		margin-bottom:40px;
	}

	input {
		float:left;
		clear:left;
		margin-bottom:20px;
	}

	input[type='file'] {
		clear:none;
		margin-top:40px;
	}

	button, a {
		float:left;
		clear:left;
	}
}


.profilePosts {
	margin-top:20px;
	.clearfix();
}

.profileComments {
	.clearfix();
	margin-top:20px;
	display:none;
}


.modal-open {
	margin-right:0 !important;
}


.singleMessage, .backButton {
	display:none;
}

@media (min-width: 990px) {
  .desktopHide {
  	display:none;
  }
}

@media(max-width:900px) {
	.commentSection {
		margin-top:60px;
	}

	.post {
  	padding:0;
  	}

  	.contain {
  		.col-md-7,.col-md-5  {
			padding:0
		}
  	}
}

.hideForm {
	display:none;
}


@media (max-width: 990px) {
  .mobileHide {
  	display:none;
  }

  .profile .stats {
  	width:40%;
  	p {
  		font-size:16px;
  	}

  	span {
  		font-size:11px;
  	}
  }
}


